<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>APAE</title>
</head>
<body>
    
    <style>



.C-sobre{
    display: flex;
    justify-content: space-around;
    padding: 150px 0px;
    width: 100%;
    flex-wrap: wrap;
    

}

.image img{
    width: 400px;
    height: auto;
    box-shadow: 4px 4px 4px #858585, 4px 4px 4px #858585;
}


.Sobre-mim h1{

     text-align: center;
    font-size: 55px;
    font-family: "Inter";
    font-weight: bold;
}

.Sobre-mim h4{
    text-align: center;
    margin-top: 30px;
    font-size: 25px;
    font-weight: normal;
    font-family: "Inria Sans";
    font-weight: bold;
}

.Sobre-mim span{
    color: #add8e6;
}

.Sobre-mim p{
    margin-top: 25px;
    font-family: "Inria Sans";

}

.Sobre-mim button{
    background-color: #add8e6;
    margin-left: 35%;
    margin-top: 30px;
    padding: 10px 50px;
    border: none;
    font-size: 20px;
    color: #fff;
    border-radius: 50px;
    cursor: pointer;
    box-shadow: 4px 4px 4px #858585, 4px 4px 4px #858585;
    transition-duration: .9s;

}

.Sobre-mim button:hover{
    color: #EF0453;
    transform: translate(0.9);
    transition: 0.8s;
    background: transparent;
    
}

@media only screen and (max-width: 414px){

    /*================Sobre-mim ================*/

    .image img{
        width: 350px;
        height: auto;
    }



    .Sobre-mim p{
        font-size: 12px;
        width: 500px;
        padding: 15px;
        text-align: center;
    }

    .Sobre-mim button{
        margin-top: 50px;
        text-align: center;
    }


}

    </style>

    <section class="C-sobre" data-aos="fade-up">
        <div class="image">
            <img src="/logo_apae">
        </div>

        <div class="Sobre-mim">
            <h1>Sobre a Instituição</h1>
            <h4>Associação de Pais e Amigos dos <span>Excepcionais</span></h4>
                <p>APAE é uma instituição nacional tendo uma de suas sedes na cidade de Canindé
                <br> que oferece atendimento educacional, especializado, psicólogo, psicopedagogo, fisioterapia
                <br> terapia.
                <br> A instituição atualmente tem como coordenadora a pedagoga especializada em educaçã especial
                <br> Claudia Alcantara e a instituição funciona como um local de envolvimento do indivíduo portador de 
                <br> de alguma necessidade especial por meio de atendimento educacional, psicológico e outras formas de envolvimento. 
                <br> Localizado: Rua Célio Martins Número: 696 - Imaculada Conceição.
                <br> Cidade: Canindé-CE - Brasil
                <br></p>

        </div>
    </section>



</body>
</html>