<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <title>Cuidador</title>
</head>

<body>
    <div class="container">
 <style>

@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto',sans-serif;
}

body{
    background-color: #fafffc;
    min-height: 100vh;
}

.container{
    max-width: 1300px;
    margin: 0 auto;
    padding: 0 4%;
}

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100px;
}
nav .menu-icon{
    cursor: pointer;
    display: none;
}
nav .logo a{
    font-size: 30px;
    font-weight: bold;
    color: #5654b3;
    text-decoration: none;
}
nav ul{
    display: flex;
    list-style: none;
    align-items: center;
}
nav ul li{
    padding: 0 15px;
}
nav ul li a{
    text-decoration: none;
    font-size: 17px;
    text-transform: uppercase;
    color: #5654b3;
}
nav ul button{
    border: none;
    background-color: #5654b3;
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 16px;
    letter-spacing: 1px;
    margin-left: 20px;
    cursor: pointer;
}
main{
    margin-top: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.text-bx{
    width: 40%;
}
.text-bx h1{
    font-size: 3rem;
    text-transform: uppercase;
}
.text-bx h1 b{
    color: #436cf1;
}
.text-bx p{
    color: #372c62;
    font-weight: 400;
    margin-top: 20px;
}
.text-bx .input-bx{
    margin: 20px 0;
    display: flex;
}
.text-bx .input-bx input{
    width: 60%;
    display: block;
    height: 50px;
    padding: 10px;
    border: none;
    outline: none;
    color: #8997b9;
    font-size: 16px;
}
.text-bx .input-bx input::placeholder{
    color: #8997b9;
}
.text-bx .input-bx button{
    outline: none;
    border: none;
    padding: 10px 20px;
    background-color: #5654b3;
    color: white;
    cursor: pointer;
    font-size: 15px;
}

.img-bx{
    width: 30%;
}
.img-bx img{
    width: 30%;
}

    .text-bx,
    .img-bx{
        width: 100%;
        text-align: center;
    }
    .text-bx{
        margin-bottom: 40px;
    }
    .text-bx .input-bx{
        justify-content: center;
    }

</style>
        <nav>
            <div class="logo">
                <a href="cuidador">Cuidador</a>
            </div>

            <div class="menu-icon">
                <img src="">
            </div>
        </nav>


        <main>
            <div class="text-bx">
                <h1> Relatório:<b> 
                    A construção do relatório precisa atender a alguns critérios básicos</b> </h1>
                <p>
           <br>Sendo uma responsabilidade voltada para o professor formado em pedagogia e também uma função atribuída ao 
           psicólogo, é importante ter em mente que essa não é uma função do cuidador por inteiro, o cuidador pode criar
           um documento auxiliar a respeito do processo evolutivo daquela criança e assim repassar para o professor/psicólogo
           para analisarem e modificarem o que for necessário e cabível diante do que foi escrito e diante das observações
           que esses que receberam as anotações obtiveram em suas esferas de atuação. <br>

            <br> Diante disso é interessante sempre observar a escrita e repassar as informações da forma mais adequada possível,
        de acordo com a coordenadora Claudia Alcantara da APAE da cidade Canindé, pedagogoa com especialização em educação especial, é importante que não haja palavras muito difíceis ou muitos termos
    técnicos na construção do relatório, apenas palavras simples e bem direcionadas, também é preciso um cuidado com certos tipos de palavras que
de acordo com a coordenadora, pode sim e até deve haver uma escrita simples mas não informalizar demais o que está sendo escrito, evitar utilizar termos ofensivos ou 
agressivos diante de certas condutas da criança e adolescente. </br>

            <br> É preciso ter uma visão simples e simplificadora do processo de escrita e na repassagem de informações sobre aquela criança 
        tendo em vista que não pode ser algo muito longo e nem muito curto e raso, é preciso que haja um limite e um caminho a ser percorrido e a visão 
    que se tem sobre o indivíduo que esta sendo acompanhado.</br>
               
         <br> Então diante disso aqui vai um exemplo que irá guiar o cuidador dentro desse processo, por meio de tópicos onde ele observe e vá 
        por meio dessas observações aqui colocadas e assim possa por meio disso fazer uma criação simples e bem arquitetada dos tópicos a se orbservar na criança. </br>
                   
       <br> <b> Informações retiradas da cartilha "Diretrizes para elaboração de relatório escolar direcionado ao aluno com  TEA" </b> </br>

       <br> <b>
       
    
       <br>LINGUAGEM E COMUNICAÇÃO</br>
<br>1. Olha para quem a chamou pelo nome? Responde à voz, voltando-se para a pessoa?</br>
<br>2. Mantém contato visual com o interlocutor durante a comunicação?</br>
 <br>3. Demonstra algum incômodo ao manter contato visual?</br>
<br>4. Comunica-se de forma funcional e organizada, apresentando</br>
reciprocidade e coerência ao se comunicar com o outro?</br>
<br>5. Compreende expressões faciais e corporais do outro?</br>
<br>6. Utiliza gestos para se expressar?</br>
<br>7. Imita gestos?</br>
<br>8. Aponta para mostrar algo que quer ou em que tem interesse?</br>
<br>9. Apresenta expressão facial e/ou corporal excessiva no ato comunicativo?</br>
<br>10. Imita sons de animais, objetos, brinquedos?</br>
<br>11. Necessita de algum material de apoio para se comunicar?</br>
<br>12. Utiliza a linguagem verbal (fala) para se comunicar?</br>
<br>13. Consegue iniciar diálogos espontaneamente e os mantém?</br>
<br>14. Aguarda a sua vez para falar enquanto ouve o outro?</br>
<br>15. Repete a fala do outro durante um diálogo (ecolalia)?</br>
<br>16. Repete palavras e frases ouvidas de outras pessoas, de programas de TV/desenhos/filmes?</br>
<br>17. Repete várias vezes palavras ou frases fora do contexto?</br>
<br>18. Apresenta alterações na prosódia (entonação e velocidade
da fala diferentes, robotizadas)?</br>
<br>19. Fala frases completas e inteligíveis?</br>
<br>20. Faz uso de frases coerentes e utiliza palavras adequadas ao
contexto para estabelecer comunicação com outras crianças ou
adultos?</br>
<br>21. Necessita de perguntas norteadoras que auxiliem a expressão de seus pensamentos?</br>
<br>22. Como expressa sua opinião a respeito de alguma situação ou
de alguém?</br>
<br>23. Elabora e responde perguntas sobre si e sobre os outros
adequadamente?</br>
<br>24. Consegue pedir ajuda e comunicar os seus desejos e necessidades?</br>
<br>25. Relata experiências ou conta histórias com início, meio e fim?</br>
<br>26. Partilha comentários, ideias e experiências com seus pares?</br>
<br>27. Na conversa, compartilha do tema ou muda de assunto inapropriadamente?</br>
<br>28. Costuma ser compreendida ao se comunicar?</br>
<br>29. Consegue reproduzir informações para terceiros (dar recados)?</br>
<br>30. Consegue compreender comandos e seguir instruções de
forma imediata?</br>
<br>31. Compreende linguagem figurada, e de duplo sentido, piadas?</br>
<br>32. Compreende situações ou falas subliminares (entrelinhas)?</br>
<br>33. Percebe mudanças no tom de voz do outro que alterem o
sentido das palavras (prosódia)?</br>

                    
                    <br>HABILIDADES SOCIAIS</br>

<br>1. Identifica quem é familiar e quem é estranho ao seu convívio?</br>
<br>2. Permanece na escola sem que os pais tenham precisem acompanhar?</br>
<br>3. Apresenta timidez ou hesitação ao chegar em um lugar estranho?</br>
<br>4. Expressa incômodo ao se sentir sozinha?</br>
<br>5. Costuma priorizar objetos/brinquedos que gosta ou prefere
procurar por seus pares?</br>
<br>6. Nos momentos de atividade em grupo, consegue socializar ou
se isola?</br>
<br>7. Junta-se a outras pessoas por iniciativa própria? Convida os
pares para brincar ou jogar com ela?</br>
<br>8. Interage adequadamente com pessoas de faixas etárias diferentes?</br>
<br>9. Demonstra preferência para conversar com uma pessoa específica?</br>
<br>10. Como é seu humor/comportamento quando está em um grupo de amigos?</br>
<br>11. Como reage quando alguém lhe dirige o olhar? Compartilha
o olhar ou se esquiva?</br>
<br>12. Presta atenção enquanto se comunica com as pessoas?</br>
<br>13. Demonstra irritabilidade ou incômodo ao dividir a atenção?</br>
<br>14. Sabe usar regras sociais (como cumprimentar as pessoas ao
chegar em um local, pedir desculpas quando comete um erro ou
agradecer por algo)?</br>
<br>15. Demonstra afetividade de alguma forma?</br>
<br>16. Costuma retribuir gestos de carinho? Demonstra reciprocidade?</br>
<br>17. Compartilha brinquedos e objetos com seus pares?</br>
<br>18. Sabe brincar de forma coerente e solidária, acompanhando
de forma satisfatória o brincar do outro?</br>
<br>19. Compartilha brincadeiras com crianças da mesma idade ou
adultos, trocando turnos, respeitando as regras e a vez do outro?</br>
<br>20. Demonstra interesse por um brinquedo ou objeto de outra
pessoa?</br>
<br>21. Percebe, pelo reconhecimento facial, emoções como tristeza,
raiva e alegria?</br>
<br>22. Percebe, pela reação dos outros, quando suas atitudes são
agradáveis ou desagradáveis?</br>
<br>23. Percebe quando está aborrecendo alguém?</br>
<br>24. Preocupa-se e se solidariza com os outros quando se machucam ou estão tristes, tentando ajudar ou acalmar?</br>
<br>25. Demonstra alegria com as conquistas ou com a felicidade
dos outros?</br>
<br>26. Consegue expressar suas emoções?</br>
<br>27. Demonstra emoções coerentes com as diferentes situações?</br>
<br>28. Como se posiciona quando algo a agrada ou desagrada?</br>
<br>29. Tenta regular adequadamente suas emoções e expressa oralmente seus sentimentos?</br>



                            <br>COMPORTAMENTO</br>
 <br>1. Adere a rotinas e horários?</br>
 <br>2. Tem uma rotina de comportamentos ao entrar na sala de aula</br>
(por exemplo, diariamente ao entrar apaga a luz, corre em círculos ao redor de todas as carteiras para depois guardar a mochila
e sentar-se no seu lugar)?</br>
<br>3. Demonstra se incomodar quando há troca de professor ou de
sala?</br>
<br>4. Apresenta resistência às mudanças na rotina ou dificuldade
em terminar uma determinada tarefa e começar outra?</br>
<br>5. Como interage em sala de aula? É participativa?</br>
<br>6. Participa de atividades em grupos?</br>
<br>7. Consegue esperar sua vez na fila ou nas brincadeiras?</br>
<br>8. Demonstra comportamento agitado/hiperativo?</br>
<br>9. Consegue manter-se sentado por um determinado tempo?</br>
Em quais situações?</br>
<br>10. Tem controle inibitório ou reage exageradamente ao um estimulo, se tornando reativo?</br>
<br>11. Procura desviar a conversa para assuntos de seu interesse?
Quando o tema não o agrada, encerra a conversa?</br>
<br>12. Como se comporta ao ter que dividir/compartilhar um brinquedo ou ao ter que permitir a participação de um colega em
determinada brincadeira?</br>
<br>13. Respeita e trata de forma adequada professores e funcionários da escola?</br>
<br>14. Nas atividades em grupo, participa efetivamente ou aparenta
estar perdida, desorientada ou dispersa?</br>
<br>15. Em situações de grupo, imita o comportamento dos seus colegas? De que forma?</br>
<br>16. Utiliza o outro para conseguir o que quer? (por exemplo,
quando a criança quer pegar um lápis no estojo, em vez de tentar abrir sozinha, busca o outro para fazer por ela.)</br>
<br>17. Como reage diante de um problema ou desafio (tenta resolver, se esquiva, chora, bate)?</br>
<br>18. Apresenta boas soluções para resolver seus problemas?</br>
<br>19. Tem noção de perigo?</br>
<br>20. Costuma olhar na mesma direção, como se estivesse parada
no tempo?</br>
<br>21. Utiliza os objetos, materiais escolares e brinquedos com propósitos diferentes daqueles para os quais são destinados?</br>
<br>22. Tem apego por algum tipo de brinquedo ou objeto específico?</br>
<br>23. Explora os brinquedos com o objetivo deles, ou brinca com
parte do brinquedo? (por exemplo, em vez de brincar com um
carrinho, fica girando a rodinha dele.)</br>
<br>24. Apresenta algum “ritual” para realizar as atividades, tais
como enfileirar os lápis e canetas, separar/classificar os materiais por cores e tamanhos, entre outros?</br>
<br>25. Apresenta comportamentos restritos querendo fazer sempre
as mesmas atividades, na mesma sequência e com os mesmos
materiais?</br>
<br>26. Reage agressivamente ou demonstra irritabilidade/frustração quando há uma quebra de rotina, uma mudança de horário,
de ambiente ou em outro aspecto específico?</br>
<br>27. Costuma utilizar certos comportamentos para obter/chamar
atenção de alguém?</br>
<br>28. Apresenta acessos de raiva ou agressividade consigo ou com
os outros? Apresenta comportamentos autolesivos? Em quais
momentos?</br>
<br>29. Apresenta algum comportamento inadequado recorrente,
como arrastar cadeiras, ficar apagando e acendendo a luz da
sala de aula, bater o lápis na mesa, pedir muitas vezes para ir ao
banheiro ou beber água?</br>
<br>30. Apresenta algum tique?</br>
<br>31. Apresenta comportamentos estereotipados, tais como balançar as mãos (“flapping”) ou o corpo, piscar os olhos repetidamente, fazer sons e ruídos peculiares frequentemente ou ficar
girando em torno de si mesma?</br>
<br>32. Geme, grita ou fala palavrões com muita frequência e fora do
contexto?</br>
<br>33. Chega à escola sonolenta, cansada ou irritada?</br>
<br>34. Costuma ficar sonolenta durante as atividades ou dormir no
período escolar?</br>
<br>35. Se a criança dorme no período escolar: costuma ter o sono
agitado, ranger os dentes, despertar aos gritos ou se debater?</br>
<br>36. Apresenta iniciativa para comer algo quando está com fome
ou sede? De que maneira o faz ou solicita?</br>
<br>37. Possui algum ritual para comer (por exemplo, os alimentos
devem ser arrumados no prato da mesma forma e se o ritual não
for obedecido, a criança se recusa a comer ou fica irritada)?
<br>38. Alimenta-se sozinha?</br>
<br>39. Derrama comida na mesa ou na roupa enquanto se alimenta?</br>
<br>40. Tem dificuldade/resistência para se sentar à mesa do refeitório e fazer as refeições?</br>
<br>41. Tem restrições ou rejeita algum tipo de alimento pela textura,
cor ou cheiro?</br>
<br>42. Fica angustiada, desesperada ou tem outro comportamento
de resistência quando é encorajada a experimentar alimentos
diferentes? Qual?</br>
<br>43. Come algum alimento específico compulsivamente?</br>
<br>44. Apresenta problemas na mastigação, tem dificuldade para
engolir ou cospe a comida frequentemente?</br>
<br>45. Vomita durante ou imediatamente após as refeições?</br>
<br>46. A criança ingere coisas não comestíveis e/ou potencialmente
tóxicas?</br>
<br>47. Assume as responsabilidades por seus pertences (material escolar, roupas etc.)?</br>
<br>48. Sabe organizar seu material escolar? Se sim, o faz de forma
sistemática?</br>
<br>49. Sabe utilizar a agenda?</br>
<br>50. Respeita a rotina do grupo?</br>
<br>51. Adapta-se aos combinados da turma?</br>
<br>52. Coloca-se em fila com autonomia?</br>
<br>53. Tem autonomia para utilizar os diferentes espaços escolares
ou necessita de apoio (por exemplo, para ir ao banheiro, pátio,
refeitório)?</br>
<br>54. Consegue se comunicar quando tem desconfortos ou necessidades fisiológicas (fome, sede, cansaço, enjoos, cólicas abdominais, necessidade de urinar ou evacuar)?</br>
<br>55. Controla os esfíncteres, pede para ir ao banheiro e o usa de
forma independente, higienizando-se sozinha?</br>
<br>56. Se fizer uso de fraldas, demonstra reação após evacuar/urinar? De que maneira?</br>
<br>57. Consegue escovar os dentes, se pentear e se vestir sozinha?</br>
<br>58. No refeitório, usa guardanapo quando sugerido e sabe usar
talheres corretamente para se alimentar?</br>
<br>59. Como lida com problemas e situações cotidianas sem a mediação de um adulto?</br>
                      
                            <br>COORDENAÇÃO MOTORA </br>

<br>1. Consegue colocar itens em um recipiente ou empilhar blocos?</br>
<br>2. Consegue realizar brincadeiras com encaixe?</br>
<br>3. Pega pequenos objetos com os dedos polegar e indicador?</br>
<br>4. Como realiza atividades de rasgar, recortar e colar?</br>
<br>5. Consegue utilizar talheres para se alimentar?</br>
<br>6. Tem habilidade para amarrar o sapato, abotoar a camisa, fechar um zíper?</br>
<br>7. Consegue segurar e manipular com eficácia o material escolar e itens pequenos como pincel, lápis, borracha, tesoura, cola,
quebra-cabeça, lego, etc.?</br>
<br>8. Como realiza a pega do lápis?</br>
<br>9. Traça linhas e curvas com o dedo ou com material de escrita?</br>
<br>10. Ao pintar, respeita os limites do espaço do desenho?</br>
<br>11. Qual é a qualidade gráfica de expressão na escrita e no desenho?</br>
<br>12. Apresenta bom desempenho do tônus muscular? A criança
é apática e/ou hipotônica (força muscular abaixo do esperado)?</br>
<br>13. Como é a marcha? Caminha na ponta dos pés? Parece “desengonçada”? Costuma esbarrar nas coisas?</br>
<br>14. Como realiza as atividades de correr, pular ou escalar?</br>
<br>15. Apresenta desequilíbrios ou quedas constantes?</br>
<br>16. Consegue subir e descer escadas sozinha? Anda em uma
rampa se equilibrando?</br>
<br>17. Como é seu desempenho em atividades lúdicas que envolvem equilibração (anda, correr e parar quando determinado, por
exemplo, na brincadeira de “estátua”)?</br>
<br>18. Consegue participar das atividades físicas? Como é seu desempenho?</br>
<br>19. Demonstra ter noção de intensidade, força e distância?</br>
<br>20. Tem habilidade com bolas? Joga, quica, coordena movimentos dos pés e mãos simultaneamente, consegue pegar a bola ao
ser lançada para ela?</br>
<br>21. Sabe identificar a posição do seu corpo? Como por exemplo,
sentado, deitado, de lado ou de costas, etc...</br>
<br>22. Como é a sua imagem corporal (desenho que faz do corpo
humano)?</br>
<br>23. Nomeia as partes do corpo com suas funções?</br>
<br>24. Quando está com os olhos vendados, identifica as partes do
corpo quando são tocadas?</br>
<br>25. Pareia objetos com as partes do corpo (por exemplo, sapato
no pé, escova de cabelo no cabelo, relógio no pulso)?</br>
<br>26. Consegue entender os comandos de lateralidade nas atividades e jogos?</br>
<br>27. Situa-se temporalmente nas ações que envolvem ritmo?</br>
<br>28. Ao ouvir uma música apresentada, a criança consegue repetir a coreografia articulando os gestos?</br>

<br>GRAU E NÍVEL DE APRENDIZAGEM
E ASSIMILAÇÃO DOS CONTEÚDOS
ACADÊMICOS</br>
<br>1. Demonstra interesse no processo de aprendizagem ou parece
distante?</br>
<br>2. Consegue se concentrar nas atividades propostas, tendo atenção ao que está sendo explicado?</br>
<br>3. A criança é atenta ao fazer atividades escolares ou comete
erros por descuido?</br>
<br>4. Apresenta-se dispersa com frequência, necessitando de explicação para retomar a atividade proposta?</br>
<br>5. Em atividades de contação de história, é capaz de manter a
concentração, responder às perguntas sobre a história, identificando personagens e até recontá-la, apresentando capacidade
de sequência lógico-temporal dos acontecimentos?</br>
<br>6. Tem facilidade de memorização?</br>
<br>7. É organizada com seu material escolar, deixando seus pertences devidamente nos seus lugares?</br>
<br>8. Consegue iniciar e terminar algo que começou, como uma atividade
vidade e/ou trabalho que exige início, meio e conclusão?</br>
<br>9. Cumpre tarefas ou combinados sociais de forma planejada,
organizada, percebendo detalhes importantes?</br>
<br>10. Seu ritmo de trabalho é lento, adequado ou rápido quando
comparado aos colegas da mesma faixa etária? Descreva.</br>
<br>11. Verbaliza seu primeiro e último nome quando perguntado?</br>
<br>12. Demonstra compreender signos linguísticos (placas de trânsito, sinais gráficos, ícones, logomarcas)?
<br>13. Compreende as orientações verbais e não verbais?</br>
<br>14. Sabe encontrar as páginas solicitadas do livro sem o auxílio
do(a) professor(a)?</br>
<br>15. Consegue compreender sentenças com mais de um comando durante a realização das atividades (por exemplo, pegue a
bola azul e coloque-a na cesta embaixo da mesa)?</br>
<br>16. Compreende o enunciado ou a explicação das atividades?</br>
<br>17. Representa, por meio de desenhos, suas ideias e pensamentos?</br>
<br>18. Desenha uma figura humana (cabeça, tronco e 4 membros)?</br>
<br>19. Percebe a direção da escrita (da direita para a esquerda e de
cima para baixo)?</br>
<br>20. Apresenta dificuldade na grafomotricidade (dificuldade para
escrever)?</br>
<br>21. Apresenta dificuldades espaciais? Tem noção espacial e de
conceitos como: perto/longe, em cima/embaixo, grande/pequeno, alto/baixo, à frente/atrás, horizontal/vertical?</br>
<br>22. Tem noção temporal? Identifica conceitos como ontem, hoje,
amanhã, semana passada, mês, ano?</br>
<br>23. Consegue identificar e nomear cores, formas, objetos e partes do corpo?</br>
<br>24. Percebe e diferencia objetos por forma, cor, comprimento,
quantidade, tamanho?</br>
<br>25. Consegue recorrer ao que já foi aprendido para solucionar
novas situações?</br>
<br>26. Oferece contribuições pertinentes aos assuntos trabalhados?</br>
<br>27. Como se comporta diante do erro? Percebe que errou? Aponta o erro? Tenta corrigir?</br>
<br>28. Reconhece seus pertences e sabe diferenciar os dos outros?</br>
<br>29. Participa de jogos ou brincadeiras de “faz de conta” (brincar
de casinha, com fantoches etc..)?</br>
<br>30. Apresenta-se hiperfocado em algum assunto específico?</br>
<br>31. Sabe informar seu nome e idade?</br>
<br>32. Inverte os pronomes, usando a terceira pessoa para referir-se
a si próprio(a)?</br>
<br>33. Seu desenho é estruturado? Na figura humana acrescenta
olhos, nariz e boca?</br>
<br>34. Consegue contar e recontar uma história, a partir de uma imagem, sem ajuda?</br>
<br>35. Apresenta alguma dificuldade de aprendizagem de leitura, escrita e raciocínio lógico?</br>
<br>36. Consegue separar, oralmente, as palavras em sílabas?</br>
<br>37. Como é o interesse da criança por símbolos, letras e números?</br>
<br>38. Reconhece as letras do alfabeto e as nomeia? Entende os sons
das letras?</br>
<br>39. Reconhece as letras em diferentes tipos (bastão, manuscrita,
script)?</br>
<br>40. Tem dificuldade em decodificar os sons das letras?</br>
<br>41. Reconhece as letras do seu próprio nome?</br>
<br>42. Compreende o que lê? Demonstra entendimento de vários
tipos de texto?</br>
<br>43. Relaciona palavras simples a figuras correspondentes?</br>
<br>44. Compreende os enunciados das atividades?</br>
<br>45. Na escrita, obedece ao espaço das linhas?</br>
<br>46. Consegue copiar o que o professor escreveu no quadro de
forma legível?</br>
<br>47. Sabe identificar números e diferenciá-los de letras?</br>
<br>48. Consegue contar a sequência numérica até que número?</br>
<br>49. Reconhece os números e atribui quantidade a eles? Consegue sequenciá-los?</br>
<br>50. Faz operações matemáticas? Reconhece os sinais de soma,
subtração, multiplicação e divisão? Resolve problemas matemáticos simples e/ou complexos?</br>
<br>51. Faz operações matemáticas mentais simples ou complexas?</br>
Precisa utilizar-se do concreto?</br>
<br>52. Tem noção temporal? Sabe ler as horas e verificar a data no
calendário?</br>
<br>53. Necessita de pistas visuais ou materiais de apoio?</br>
<br>54. Necessita de material concreto para formulação das hipóteses?</br>
<br>55. Responde perguntas simples referentes ao conteúdo trabalhado?</br>
<br>56. Consegue relacionar o conhecimento aprendido e usar em
situações práticas?</br>
<br>57. Consegue realizar as atividades dentro do tempo proposto?</br>
<br>58. Com que frequência necessita do auxílio de terceiros na realização das atividades?</br>
<br>59. Esquece facilmente o que foi estudado?</br>
<br>60. Quais são seus pontos de interesse em sala de aula e em que
disciplina mostra maior interesse?</br>
<br>61. Demonstra interesse exagerado por algum tema ou matéria (por exemplo, dinossauros, cata-vento, aspectos da biologia,
história, geografia ou matemática)?</br>
<br>62. Tem interesse/facilidade para falar outros idiomas? Aprendeu outro idioma por conta própria?</br>
<br>63. Demonstra alguma habilidade incomum? Demonstra desempenho superior em alguma habilidade? Descreva.</br>
<br>64. Executa atividades com extrema facilidade e rapidez (desempenho elevado em alguma ou várias áreas do conhecimento)? Quais?</br>
<br>65. Apresenta regressão em alguma competência que já havia
adquirido? Descreva.</br>
<br>66. Tem inteligência considerada acima da média em áreas ou
assuntos específicos?</br>
<br>67. Comente sobre o que você observa nessa criança em relação
a sua disposição emocional e motivação para aprender, a fim de
ter êxito acadêmico.</br>


      </br> </b>


        </p>
                

                </div>

        </main>
    </div>

    <script src="index.js"></script>
</body>
</html>