<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>APAE</title>
</head>
<body>
    
    <style>



.C-sobre{
    display: flex;
    justify-content: space-around;
    padding: 150px 0px;
    width: 100%;
    flex-wrap: wrap;
    

}

.image img{
    width: 400px;
    height: auto;
    box-shadow: 4px 4px 4px #858585, 4px 4px 4px #858585;
}


.Sobre-mim h1{

     text-align: center;
    font-size: 55px;
    font-family: "Inter";
    font-weight: bold;
}

.Sobre-mim h4{
    text-align: center;
    margin-top: 30px;
    font-size: 25px;
    font-weight: normal;
    font-family: "Inria Sans";
    font-weight: bold;
}

.Sobre-mim span{
    color: #add8e6;
}

.Sobre-mim p{
    margin-top: 25px;
    font-family: "Inria Sans";

}

.Sobre-mim button{
    background-color: #add8e6;
    margin-left: 35%;
    margin-top: 30px;
    padding: 10px 50px;
    border: none;
    font-size: 20px;
    color: #fff;
    border-radius: 50px;
    cursor: pointer;
    box-shadow: 4px 4px 4px #858585, 4px 4px 4px #858585;
    transition-duration: .9s;

}

.Sobre-mim button:hover{
    color: #EF0453;
    transform: translate(0.9);
    transition: 0.8s;
    background: transparent;
    
}

@media only screen and (max-width: 414px){


    .image img{
        width: 350px;
        height: auto;
    }



    .Sobre-mim p{
        font-size: 12px;
        width: 500px;
        padding: 15px;
        text-align: center;
    }

    .Sobre-mim button{
        margin-top: 50px;
        text-align: center;
    }


}

    </style>

    <section class="C-sobre" data-aos="fade-up">

        </div>

        <div class="Sobre-mim">
            <h1>Sobre a Empresa</h1>
            <h4>Cabeleireiro<span>Dodo</span></h4>
                <p>Cabeleireiro Dodoo, cabeleleiro que faz um ótimo trabalho no ramo da acessibilidade em Canindé
                <br> sendo um profissional bem conhecido na cidade devido sua destreza com o cuidado no corte de cabelo de crianças
                <br> especiais, o que se define como uma atividade de certa complexidade a depender do profissional que executa. 
                <br> Localizado: Agapito Sampaio Alto Guaramiranga FONES: (85) 99612-8950
                <br> Cidade: Canindé-CE - Brasil
                <br></p>

        </div>
    </section>



</body>
</html>