<div class="container">
<h2 class="title">Login</h2>

<div class="card">

<form action="" method="POST">
    <br>
    <label id="icon"><i class="fa fa-envelope"></i>  Email:</label>
    <input type="text" name="email_aluno"><br>
    
    <label id="icon"><i class="fa fa-key"></i>  Senha</label>
    <input type="password" name="senha_aluno"><br><br>
    
    <div class = "btn">
    <button type="submit"><i class="fa fa-paper-plane"></i>  Entrar</button>
    </div>
    
</form>

</div>

</div>