<div class="container">

<h2 class="title">Login</h2>

<div class="card">

<form action="/funcao" method="post">
    <br>
    <label id="icon"><i class="fa fa-envelope"></i>  Email:</label><br>
    <input type="text" name="email_aluno" placeholder="Digite o email"><br>
    
    <label id="icon"><i class="fa fa-key"></i>  Senha</label><br>
    <input type="password" name="senha_aluno" placeholder="Digite a senha"><br>
    
    <div class = "btn">
    <input type="submit" name="login" value="Login"><br><br>
    <input type="submit" name="cadastrar" value="Cadastrar Aluno"><br><br>
    </div>
    
</form>

</div>

</div>

